@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800,900,900i|Pacifico|Yanone+Kaffeesatz:400,700');


*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100;
}
body{
    background: url(../assets/images/791534.jpg) no-repeat center ;
    width:100%;
    height:100%;
}
button{
    height: 150;
    width: 150;
    background-color: #fce689;
    border-radius: 50%;
}