<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/locations.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <!--<main class="location">
        <img src="../assets/images/791534.jpg" alt="mapa" width="800" height="900" border="0"usemap="gdl">
        <map name="gdl">
            <area shape="circle" coords="207 227, 50" href="activestudents.html" alt="">
        </map>
    </main>-->
    <main>
        <section>
            <article class="gdl">
                <span><i class="fas fa-location-arrow"></i></span>
                <button type="submit" class="btn"><a href="home.html">< GDL ></a></button>
            </article>
            <article class="cdmx">
                <span><i class="fas fa-location-arrow"></i></span>
                <button type="submit" class="btn"><a href="home.html">< CDMX ></a></button>
            </article>
            <article class="lima">
                <span><i class="fas fa-location-arrow"></i></span>
                <button type="submit" class="btn"><a href="home.html">< LIMA ></a></button>
            </article>
        </section>
    </main>
    
    
</body>
</html>